.background {
  background-image: url("../assets/background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  background-position: center;
  object-fit: cover;
}
.login-form-container {
  width: 80%;
  max-width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.signup-form-container {
  width: 80%;
  max-width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.login-form-container form {
  display: flex;
  flex-direction: column;
}
.login-logo {
  margin: auto;
  margin-top: 20vh;
  margin-bottom: -40px;
}
.signup-logo {
  margin: auto;
  margin-bottom: 10px;
  width: 125px;
  margin-top: 13vh;
}
@media (max-height: 650px) {
  .signup-logo {
    display: none;
  }
  .login-logo {
    display: none;
  }
  .signup-form-container {
    padding-top: 20vh;
  }
  .login-form-container {
    padding-top: 30vh;
  }
}
.title {
  color: #1a90ff;
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.form-group {
  margin-bottom: 15px;
  position: relative;
}

.input-icon-container {
  display: flex;
  align-items: center;
}

.icon {
  position: absolute;
  margin-left: 20px;
}

.form-group input {
  width: 100%;
  padding-left: 60px; /* Make room for the icon */
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #cce6ff;
  color: #66b5ff;
}
.form-group input::placeholder {
  color: #66b5ff;
}
.terms {
  transform: scale(2);
  margin-right: 15px;
  margin-left: 10px;
  background-color: #f0f0f0;
}
.signup-button {
  color: #e6f3ff;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 10px;
  background-color: #1a90ff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  font-family: "Trebuchet MS", Arial, sans-serif;
  letter-spacing: 0.05em;
}

.login-links {
  text-align: center;
  margin-top: 15px;
  font-family: "Trebuchet MS", Arial, sans-serif;
}
.acc {
  margin-top: -2px;
  margin-bottom: 3px;
}
.login-form-container a,
.signup-form-container a {
  text-decoration: none;
  color: #1a90ff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
